.chat-app {
  --font-sans-serif: 'Work Sans', sans-serif;
  --black: #1e1e1e;
  --white: #ebebeb;
  --gray: #262626;
  --red: #ff2e2e;
  --green: #3fdc2a;
  --yellow: #ffd606;
  --chat-bg: #b3b3b3;

  display: flex;
  flex-direction: column;
  width: 92%;
  box-sizing: content-box;
  height: calc(100% - 48px);
  padding-inline: 4%;

  * {
    font-family: var(--font-sans-serif);
    color: var(--white);
    overflow: hidden;

  }

  /* SETTINGS STYLE */
  .settings {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .setting {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 32px;

      p {
        font-size: small;
        padding-right: 4px;

      }

      input {
        background-color: var(--white);
        color: var(--black);
        overflow: visible;
        box-sizing: content-box;
        max-width: 25%;
        min-width: 1ch;
        border-style: solid;
        border-radius: 4px;
        height: 16px;
        font-weight: bold;
      }

      input:disabled {
        background-color: #00000000;
        border-style: none;
        color: var(--white);
      }

      .username-edit,
      .channel-edit {
        padding-right: 5px;
        width: 16px;
        height: 16px;
        background-image: url('../img/edit.svg');
        background-repeat: no-repeat;
        opacity: 0;
      }

      .username-edit:hover,
      .channel-edit:hover {
        opacity: 1;
      }

      .active {
        opacity: 1;
        background-image: url('../img/check.svg');
      }
    }

    .setting:hover {

      .username-edit,
      .channel-edit {
        opacity: 1;
      }
    }
  }
  /* END SETTINGS STYLE */

  /* MESSAGES STYLE */
  .messages {
    background-color: red;
    flex-grow: 1;
    margin-bottom:3%;
  }
  /* END MESSAGES STYLE */

  /* INPUT STYLE */
  .input {
    display: flex;
    justify-content: space-around;
    height: 10%;
    min-height: 24px;
    textarea {
      width: 90%;
      margin-right: 5%;
      border-radius: 10px;
      resize: none;
    }
    .send-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--white);
      color: var(--black);
      width: 48px;
      border-radius: 10px;
    }
    .send-btn:hover {
    background-color: var(--chat-bg);
    }

  }
  /* END INPUT STYLE */
}